<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jiangziyi.dao.UserDao">
    <!--查询所有用户-->
    <select id="listUser" resultType="jiangziyi.pojo.User">
        select * from mybatis.user;
    </select>
    <!--根据id查询用户-->
    <select id="queryUserById" parameterType="jiangziyi.pojo.query.UserQuery" resultType="jiangziyi.pojo.User">
        select *
        from mybatis.user where id=#{id};
    </select>

    <!--根据name模糊查询-->
    <select id="listUserName" parameterType="jiangziyi.pojo.query.UserQuery" resultType="jiangziyi.pojo.User">
        select *
        from mybatis.user
        <where>
            <if test="name != null and name != ''">
                and `name` like concat('%',#{name},'%')
            </if>
        </where>
    </select>

    <!--根据id删除用户-->
    <delete id="deleteUserById" parameterType="int">
        delete
        from mybatis.user where id=#{id}
    </delete>
</mapper>